
#activity{
  color:grey;
  margin-top:2%;
  margin-left:4%;
  margin-bottom:-1%;
}

.abs-icon{
  position:absolute;
  top:-34px;
}

.ad-pic2{
  padding-left:4%;
  margin-top:-4%;
}


.ads{
  background-color:#2394ee;
  padding-top:2%;
}

.ad-pic{
  z-index:100;
}

#analytics{
  margin-top:3%;
  color:#2498f4;
  font-size: 200%;
  margin-left:2%;
}

#analytics-graph{
  margin-top:2%;
}

.announce-body-text{
  border-left-color:#e9e9e9;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#e9e9e9;
  border-right-style:solid;
  border-right-width:1px;
  padding-top:1%;
  padding-bottom:.2%;
}

#announce-buttons{
  padding-top:1%;
  padding-bottom:1%;
}

.announcements{
  border-bottom-color:#e9e9e9;
  border-bottom-style:solid;
  border-bottom-width:1px;
}

.announce-text{
  font-size:100%;
  margin-top: 10px;
}

#ariel-footer-text{
  color:grey;
  padding-top:1%;
  padding-left:2%;
  border-right-style: solid;
  border-right-color: #dddddd;
  border-right-width:1px;
}

a.footer-link:visited{
  color:grey;
}


a.grey-link:hover{
  color:grey;
  text-decoration:none;
  padding:5px;
}

a.link:hover{
  color:grey;
}


.background-white{
  padding-left:1.5%;
  background-color:white;
  padding-top:0%;
  border-top-style:ridge;
  border-left-style:ridge;
  border-right-style:ridge;
  border-top-color:#e9e9e9;
  border-left-color:#e9e9e9;
  border-right-color:#e9e9e9;
  border-width:1px;
  padding-right:1.5%;
}

.big{
  font-size: 1.3em;
}
.blue{
  color:#2394ee;
}

#blog-border{
padding-left:3%;
}

.border{

  background:linear-gradient(#f6f6f6,white, white);
  border-radius:6px;
  padding: 1.7% 1.7% 0 1.7%;
  margin-top:2%;
  margin-left:-1.7%;
  margin-right:-1.7%;
}

.border1{
  margin-left: 8%;
}

.border2{
  margin-left:7%;
}

.border3{
margin-left: 19%;
}

.border4{
  margin-left:35%;
}
.bottom-icons{
  float:right;
}

/*adapted from http://bootsnipp.com/snippets/featured/circle-button*/
.btn-circle {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0px 0;
  font-size: 10px;
  color: #ff9b13;
  line-height: 1.428571429;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #888888;
  border-style:solid;
}


.c-c{
  background-color:#2394ee;
  display:inline-block;
  margin-top:20%;
  padding-top:5%;
  padding-bottom: .5%;
  padding-right: 10%;
  padding-left: 10%;
  width:100%;
  color:white;
  text-align:center;
  line-height:95%;
}

.channels-border{
  border-left-color:#e9e9e9;
  border-left-style:solid;
  border-left-width:2px;
}


.contacts {  /*the box*/
  -moz-box-shadow: 0 0 3px #ccc;/* box shadow found here: http://stackoverflow.com/questions/6821295/add-css-box-shadow-around-the-whole-div*/
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  border-radius:4px;
  margin-top:15px;
  width: 212px;
  position:relative;
  margin-bottom: 4%;
}

.contacts-border{
  border-top-style:solid;
  border-top-width:1px;
  border-top-color: #e9e9e9;
  margin-top:4%;
  padding-left:8%;
  padding-right:8%;
  padding-top:4%;
  padding-bottom:4%;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.dark-grey{
  color:#777777;
}

#dash {
  margin-top: 2%;
  background-color:#33cc66;
  color:white;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  height:56px;
}

#dash-text{
  padding-top: 1.2%;
  font-size: 200%;

}

#dash2 {
  margin-top: 2%;
  background-color:#33cc66;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  height:56px;
}

.did-you-know{
  background-color:#2394ee;
  color:white;
  margin-top:10%;
  border-radius:4px;
}

.dyk-border{
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#e9e9e9;
  margin-top:2%;
}
.dropdown{
  margin-top:-5%;
}


.dyk{
     padding-left:7%;
     padding-top:3%;
     padding-bottom:5%;
     padding-right:8%;
     margin-left:3%;
     font-size:95%;
     color:white;
   }


#fb{
  background-color:#114570;
  color:white;
  border-radius:3px;
  padding-right:10px;
  padding-left:5px;
}

#fb-icon{
  margin-left:5%;
}

.footer{
  background-color:#f5f5f5;
  margin-top:3.5%;
}

#footer-text{
  color:grey;
  padding-top:1.5%;
  padding-right:3%;
  border-right-style:solid;
  border-right-color:#dddddd;
  border-right-width:1px;
}

#foursquare {
  background-color:#3a599b;
  color:white;
  border-radius:3px;
  padding-right:10px;
  padding-left:5px;

}

#google{
  background-color: #31cc66;
  color:white;
  border-radius:3px;
  padding-right:10px;
  padding-left:5px;
}

.glyphicon-chevron-down{
  color:#ff9b13;
  border-left-style:solid;
  border-left-color:#f5f5f5;
  border-left-width:1px;
  padding-left:5px;
}

.glyphicon-chevron-up{
  padding-left: 16%;
    color: #2394ee;
    padding-top: 1%;
}

.graph1{
  float:right;
  margin-left:10%;
  margin-top:0%;

}

#graph-green{
  margin:5%;
}
#green-man{
  z-index:100;
  position:absolute;
  top: -37px;
    left: 65px;
}


#here-is-white1{  /*this class handles the white part of the first ad*/
  background-color:white;
  padding-bottom: 2%;
  border-radius:4px;
  margin-bottom:4%;
  margin-left:4%;
}

#here-is-white2{  /*this class handles the white part of the 2nd ad*/
  background-color:white;
  border-radius:4px;
  padding-bottom:2%;
  margin-bottom:4%;
  margin-left:4%;
}

#here-is-white3{  /*this class handles the white part of the 3rd ad*/
  background-color:white;
  padding-top:-5%;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right:0%;
  border-radius:4px;
  margin-right:10%;
  margin-top:-1%;
  margin-left:4%;
  margin-bottom:4%;
}

.labels{
  color:grey;
  margin-bottom:5%;
  font-size:80%;
  margin-top:-10%;
 }

#labels-referrals{
   margin-top: 2%;
}

#last-nav-button{
   width:8%;
 }

#left-arrow{
   margin-bottom: -115px;
 }

#logout-footer-text{
  color:#2394ee;
  padding-top:1%;
}

#logout{
  color:#2394ee;
}

.long-border{
  border-left-color:#e9e9e9;
  border-left-style:solid;
  border-left-width:1px;

}

#main-nav{
  padding-top:40px;
  padding-bottom:40px;
  max-height:130px;
  min-height:130px;
  padding-left:7%;
}

#mini{
  padding-right:2%;
  padding-top:.7%;
  padding-bottom: -.5%;
  padding-left: 7%;
}

#mini-border{
  border-right-style:solid;
  border-right-color:#e9e9e9;
  border-right-width:1px;

}

#mini-of-r{
  padding-right:1%;
  margin-left: 78%;
}
.nav{
  height: 130px;
}

.nav-buttons{
  margin-right:8%;
  width:8%;
}

.need-border{
  border-style:solid;
  border-color:#cccccc;
  border-radius:3px;
  border-width:1px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:6px;
  padding-right:6px;
  color:#72b5f7;
  margin-right:8%;
  font-size:80%;

}


.orange{
  color:#ff9b13;
}

.outer-everything{
  padding-top:5%;
  padding-bottom:5%;
  padding-left:10%;
  padding-right:10%;
  margin-bottom:-3%;


}

.rec{
  margin-top:6%;
  border-bottom-style:dotted;
  border-bottom-color:#e5e5e5;
  border-bottom-width:2px;
  position:relative;
  padding-bottom:3%;

}
#right-arrow{
    margin-top: -105px;
}

.right-button{
  margin-left:7px;
}

#ribbon-left{
  position: absolute;
  top: 44px;
  left: -19px;

}

#ribbon-right{

  position:absolute;
  top: 44px;
  left: 210px;


}

.search-dash{
  margin-top: 4%;
}

#search-blue{
  float:right;
  margin-top:-12%;
  margin-right:3%;
  display:inline;
}

.social-medias{
  margin-top:10%;
  margin-left:15%;
}

.small{
  font-size:75%;

}

.stripes{
  background-image: url("../img/menu-back.png");
  margin-right:0px;
}

#support-border{
padding-left:3%;
border-right-style:solid;
border-right-color:#dddddd;
border-right-width:1px;
padding-right:3%;
}

.tasks{
  color:#2498f4;
  font-size: 200%;
  margin-top:3%;
  position: relative;

}
.tasks-list{
   margin-top:-3%;
}

.task-member{
  padding:6%;
  font-size:130%;
  border-bottom-style:solid;
  border-bottom-color:#eeeeee;
  border-bottom-width:1px;

}

.tasks-text{
  color:#2498f4;
  margin-left:3%;

}
.tasks-number{
  color:white;
  background-color:#32cc66;
  padding:3px;
  padding-right:8px;
  padding-left:8px;

  border-radius:40px;
}

/* from http://stackoverflow.com/questions/27986391/keep-text-from-not-wrapping-in-bootstrap-3-responsive-design*/
.text-wrap{
  white-space:nowrap;
}

.text-article{
  line-height: 80%;
    margin-top: -35px;
    margin-left: 35px;
    color: #777777;
}
#top-panel {
  background-color:#2394ee;
  color:white;
  padding-bottom: .3%;
  font-size:80%;
  min-height:40px; /*this is to make sure the blue doesnt get so small*/

}

.the-hardest-one{
  background-color:#2498f4;
  margin:4%;
  border-radius:4px;

}



#twit{
  background-color:#2298f4;
  color:white;
  border-radius:3px;
  padding-right:10px;
  padding-left:5px;

}
#tutorials-border{
  border-right-style:solid;
  border-right-color:#dddddd;
  border-right-width:1px;
  padding-right:3%;
  margin-left: 30%
}


#recommendations{
  margin-top:5%;
  padding-bottom: 5%;
}
#settings-grey{
  position: absolute;
    top: 1px;
    left: 260px;
}

#settings-circle{
  padding-left: 1%;
}

#question-in-circle{
  border-right-style: solid;
      border-right-color: grey;
      border-right-width: 1px;
      padding-right: 1%;
      padding-left: 1%;
      border-left-style: solid;
      border-left-color: grey;
      border-left-width: 1px;
  }


@media screen and (max-width: 820px){
  #mini-of-r{
    margin-left:60%;
  }
}
@media screen and (max-width: 794px){
  #mini-of-r{
    margin-left:65%;
  }
}


@media screen and (max-width: 475px){
  #mini-of-r{
    margin-left:55%;
  }
}


@media only screen and (max-width: 1199px) {
    .announce-body-text{
      border:none;
    }
    .announce-text{
      border-bottom-style:solid;
      border-bottom-color:#e9e9e9;
      border-bottom-width:1px;
    }

    .announcements{
      border:none;
    }

    .task-member{
      border:none;
    }

    .rec{
      border:none;
    }

    .long-border{
      border:none;
    }

    .contacts-border{
      border:none;
    }

    .dyk-border{
      border:none;
    }
    .need-border{
      margin-left:4%;
    }




}
